### Django ###
*.log
*.pot
*.pyc
__pycache__/
*.sqlite3

### Pycharm ###
**/.idea/
.DS_Store

*.py[cod]s
*$py.class

### database migrations ###
*/migrations/*.py

**/*.xls
**/*.xlsx
**/local_settings_bak.py
