{% extends "web/tpls/manage.html" %}
{% load static %}


{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'manage_file' project_id=request.tracer.project.id %}">
                        <strong>
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 文件管理
                            {% if result_lst %}
                                {% for obj in result_lst %}
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                    <a href="{% url 'manage_file' project_id=request.tracer.project.id %}?folder_id={{ obj.parent_id }}">{{ obj.parent_name }}</a>
                                {% endfor %}
                            {% endif %}
                        </strong>
                    </a>
                </div>

                <div class="col-md-6 text-right uploadcss">
                    <!-- 上传文件进度条 -->
                    <span style="color: #28a4c9; width: 120px;height: 30px; font-size: 20px;" id="upload_info"></span>
                    <div class="btn btn-primary btn-xs upload">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件</div>
                        <input type="file" multiple name="uploadFile" id="uploadFile">
                    </div>
                    <button class="btn btn-success btn-xs" id="add_btn">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建文件夹
                    </button>
                </div>
            </div>
        </div>

        <!-- Table -->
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>名称</th>
                <th>大小（Byte）</th>
                <th>更新者</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="rowList">
            {% for obj in objs %}
                <tr>
                    {% if obj.file_type == 1 %}
                        <td><i class="fa fa-file" aria-hidden="true"></i> {{ obj.local_name }}</td>
                    {% else %}
                        <td>
                            <a href="{% url 'manage_file' project_id=request.tracer.project.id %}?folder_id={{ obj.id }}">
                                <i class="fa fa-folder" aria-hidden="true"></i> {{ obj.local_name }}
                            </a>
                        </td>
                    {% endif %}
                    {% if obj.file_type == 1 %}
                        <td>{{ obj.file_size }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ obj.update_user.username }}</td>
                    <td>{{ obj.update_time }}</td>
                    <td>
                        <a href="{% url 'file_download' project_id=request.tracer.project.id fid=obj.id %}"
                           class="btn btn-success btn-xs download_btn"
                           style="margin-right: 5px; {% if obj.file_type == 2 %}pointer-events:none;{% endif %}"
                           {% if obj.file_type == 2 %}disabled="true"{% endif %}
                        >
                            <i class="fa fa-download" aria-hidden="true"></i> 下载
                        </a>

                        <button class="btn btn-info btn-xs edit_btn" fid="{{ obj.id }}" pid="{{ obj.parent.id }}"
                                local_name="{{ obj.local_name }}" style="margin-right: 5px;">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑
                        </button>

                        <button class="btn btn-danger btn-xs delete_btn" fid="{{ obj.id }}" style="margin-right: 5px;">
                            <i class="fa fa-trash" aria-hidden="true"></i> 删除
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!--Modal-新建、编辑文件/文件夹-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">modal-title</h4>
                </div>
                <div class="modal-body">
                    <form id="myform" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">关 闭</button>
                    <button type="button" class="btn btn-primary" id="savebtn">保 存</button>
                </div>
            </div>
        </div>
    </div> <!--Modal-编辑文件/文件夹-->

    <!--Modal-删除模态框-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <div class="modal-header text-left">
                    <h4>确定删除？</h4>
                    <p>注意：若是删除文件夹会将文件夹下的文件一并删除！</p>
                </div>
                <div class="modal-body text-right">
                    <a type="button" class="btn btn-default btn-close" data-dismiss="modal">取 消</a>
                    <a type="button" class="btn btn-danger" id="delete-sure" style="margin-right: 5px;">确 定</a>
                </div>
                <div id="loading" class="submit_loading" style="display: none">
                    <div class="loading_show">
                        <img src="{% static 'img/loading-sun.gif' %}" alt="">
                        <p class="loading_context">请 稍 候 ...</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--删除模态框-->
    <!-- Small modal-提示操作成功 -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="smallmodal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="text-center" style="height: 30px">
                    <h5 style="margin-top: 15px; font-size: 15px;"><strong>操作成功！</strong></h5>
                </div>
            </div>
        </div>
    </div> <!-- Small modal-提示操作成功 -->

    <!-- 上传进度显示 -->
    <div id="uploadProgress" class="upload-progress hide">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> 上传进度
            </div>

            <table class="table">
                <tbody id="progressList">

                </tbody>
            </table>
        </div>
    </div>

    <!--上传进度显示模板 -->
    <div class="hide">
        <table id="progressTemplate">
            <tr>
                <td>
                    <div class="name"></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 0;">
                            0%
                        </div>
                    </div>
                    <div class="progress-error"></div>
                </td>
            </tr> <!--克隆tr-->
        </table>
    </div>

    <!--上传成功加到当前页面列表展示 -->
    <div class="hide">
        <table id="rowTpl">
            <tr>
                <td>
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <span class="local_name"></span>
                </td>
                <td class="file_size"></td>
                <td class="update_user"></td>
                <td class="update_time"></td>
                <td>
                    <a href="" class="btn btn-success btn-xs download_btn" style="margin-right: 5px;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 下载
                    </a>
                    <button class="btn btn-info btn-xs edit_btn" fid="" pid="" local_name="" style="margin-right: 5px;">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑
                    </button>
                    <button class="btn btn-danger btn-xs delete_btn" fid="" style="margin-right: 5px;">
                        <i class="fa fa-trash" aria-hidden="true"></i> 删除
                    </button>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block js %}
    <script>
        var FEXT; //编辑文件的后缀
        var EDIT_FID; //编辑按钮绑定的fid
        var EDIT_PID; //编辑按钮绑定的pid
        var FIRST_NAME;  //编辑文件或文件夹的名称(不含后缀)
        var EDIT_GETDATA_URL = "{% url 'file_edit_getdata' project_id=request.tracer.project.id %}";
        var EDIT_URL = "{% url 'file_edit' project_id=request.tracer.project.id %}";
        var DELETE_URL = "{% url 'file_delete' project_id=request.tracer.project.id%}";
        var CREDENTIAL_URL = '{% url "file_cos" project_id=request.tracer.project.id %}' // 获取临时凭证服务
        var FILE_POST_URL = '{% url "file_post" project_id=request.tracer.project.id %}' //单个文件上传成功存入数据库
        var FOLDER_ID = "{{ parent_obj.id }}" //单个文件上传成功存入数据库


        //表单提交等待提示
        function Mask() {
            $('#loading').css({'display': 'block'});
        }

        function UnMask() {
            $('#loading').css({'display': 'none'});
        }

        $(function () {
            bindClosebtn();
            bindSavebtn();
            bindAddbtn();
            bindEditbtn();
            bindDeletebtn();
            doDelete();
            binduploadFile();
        })


        //新建文件夹模态框
        function bindAddbtn() {
            $("#add_btn").click(function () {
                //配合编辑，点击新建EDIT_FID设为未定义
                EDIT_FID = undefined;
                //清空错误提示
                $(".error-msg").text("");
                // 需要清空模态框的输入框内容；需要转换数据的结构
                // jquery对象转为DOM对象【$("#myform")[0]】
                $("#myform")[0].reset();
                // 利用标签设置标题
                $(".modal-title").text("新建文件夹");
                $('#myModal').modal('show');
            })
        }

        //新建文件夹提交数据
        function doAdd() {
            $.ajax({
                //文件目录url：.../web/manage/1/file/?folder_id=10
                url: location.href, //提交到当前访问页面地址（附带参数）
                type: "post",
                data: $("#myform").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        $("#myModal").modal("hide")
                        $("#smallmodal").modal("show")
                        setTimeout("location.reload()", 888)
                    } else {
                        $(".error-msg").text("")
                        $.each(res.errors, function (name, data) {
                            $("#id_" + name).next().text(data[0])
                        })
                    }
                },
            });
        }

        //点击编辑，get请求获取数据前端显示
        function bindEditbtn() {
            $("#rowList").on("click", ".edit_btn", function () {
                //$(".edit_btn").click(function () {
                //编辑的时候设置的属性
                EDIT_FID = $(this).attr("fid");
                EDIT_PID = $(this).attr("pid");
                var local_name = $(this).attr("local_name");
                //获取最后一个.的位置
                var index = local_name.lastIndexOf(".");
                if (index === -1) { //判断是否含有”.“，没有返回-1，区别是文件还是文件夹
                    FEXT = "";
                    FIRST_NAME = local_name;
                } else {
                    //获取后缀,存入全局变量
                    FEXT = local_name.substr(index + 1);
                    //获取不含后缀名称
                    FIRST_NAME = local_name.substring(0, local_name.lastIndexOf("."));
                }
                //console.log(FIRST_NAME);
                $.ajax({
                    url: EDIT_GETDATA_URL,   //get请求提交地址
                    type: 'get',
                    data: {
                        fid: EDIT_FID //get请求 参数:值
                    },
                    dataType: 'JSON',
                    //POST请求成功返回数据
                    success: function (res) {
                        if (res.status) {
                            // console.log(res)
                            //清空错误提示
                            $(".error-msg").text("");
                            // 清空模态框表单
                            $("#myform")[0].reset();
                            // 利用标签设置标题
                            $(".modal-title").text("编辑文件/文件夹");
                            // 循环以id_name填入数据
                            $.each(res.data, function (name, value) {
                                if (name === "local_name") {
                                    $("#id_local_name").val(FIRST_NAME);
                                } else {
                                    $("#id_" + name).val(value);
                                }
                            })
                            // 最后展示模态框
                            $("#myModal").modal("show");

                        } else {
                            alert(res.error)
                        }
                    },
                });
            })
        }

        //编辑提交数据
        function doEdit() {
            $.ajax({
                url: EDIT_URL + "?folder_id=" + EDIT_PID + "&fid=" + EDIT_FID + "&fext=" + FEXT,  //编辑路径,注意顺序以及多个参数写法
                type: 'post',
                dataType: "JSON",
                data: $("#myform").serialize(),
                success: function (res) {
                    if (res.status) {
                        $("#myModal").modal("hide");
                        $("#smallmodal").modal("show");
                        setTimeout("location.reload()", 888);
                    } else {
                        $.each(res.errors, function (name, data) {
                            $("#id_" + name).next().text(data[0]);
                        })
                    }
                    console.log(res)
                }
            })
        }

        //模态框保存
        function bindSavebtn() {
            $("#savebtn").click(function () {
                if (EDIT_FID) {
                    //编辑
                    doEdit();
                } else {
                    //添加
                    doAdd();
                }
            });
        }

        //模态框关闭
        function bindClosebtn() {
            $("#closebtn").click(function () {
                $(".error-msg").text("");
            })
        }

        //点击删除
        function bindDeletebtn() {
            $("#rowList").on("click", ".delete_btn", function () {
                EDIT_FID = $(this).attr("fid");
                $("#deleteModal").modal("show");
            })
        }

        //删除文件或文件夹
        function doDelete() {
            $("#delete-sure").click(function () {
                Mask();
                $.ajax({
                    url: DELETE_URL,
                    type: 'get',
                    data: {
                        "fid": EDIT_FID,
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            UnMask();
                            $("#deleteModal").modal("hide");
                            $("#smallmodal").modal("show");
                            setTimeout("location.reload()", 888);
                        } else {
                            alert("删除错误，该文件不存在！");
                        }
                    }
                });
            })
        }

        //文件上传
        function binduploadFile() {
            $("#uploadFile").change(function () { //change是显示选择文件确定之后触发
                //重新点击上传文件清空已有进度条
                $('#progressList').empty();
                // 循环获取选择的文件名称及大小
                var fileList = $(this)[0].files;
                var checkFileList = [];

                $.each(fileList, function (index, fileObject) {
                    // console.log(index, fileObject);
                    checkFileList.push({"name": fileObject.name, "size": fileObject.size}) //构造返回数据checkFileList=[{},{}...]
                });

                // 上传之前初始化获取临时凭证
                var cos = new COS({
                    // getAuthorization 必选参数
                    getAuthorization: function (options, callback) {
                        // 异步获取临时密钥
                        var url = CREDENTIAL_URL; // url替换成您自己的后端服务
                        {#var url = CREDENTIAL_URL+"?check_str="+JSON.stringify(checkFileList); // url替换成您自己的后端服务#}
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', url, true);
                        xhr.onload = function (e) {
                            //console.log(JSON.parse(e.target.responseText).status)
                            var res = JSON.parse(e.target.responseText)

                            if (res.status) {
                                // 文件校验成功返回凭证
                                var data = res.get_data; //数据转换，对象获取数据
                                var credentials = data.credentials;

                                if (!data || !credentials) {
                                    return console.error('credentials invalid:\n' + JSON.stringify(data, null, 2))
                                }
                                callback({
                                    TmpSecretId: credentials.tmpSecretId,
                                    TmpSecretKey: credentials.tmpSecretKey,
                                    SecurityToken: credentials.sessionToken,
                                    // 建议返回服务器时间作为签名的开始时间，避免用户浏览器本地时间偏差过大导致签名错误
                                    StartTime: data.startTime, // 时间戳，单位秒，如：1580000000
                                    ExpiredTime: data.expiredTime, // 时间戳，单位秒，如：1580000000
                                });
                                //授权通过展示移除进度显示隐藏类
                                $("#uploadProgress").removeClass("hide");

                            } else {
                                alert(res.error); //文件超限提示
                            }
                        };
                        // post方式提交数据到后端
                        var check_str = JSON.stringify(checkFileList); // 前端列表转为字符串
                        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=utf-8"); //此种头部为参数提交方式
                        xhr.send("check_str=" + check_str);
                    }
                });

                //文件上传到cos
                $.each(fileList, function (index, fileObject) {
                    var suffix;
                    var filename = fileObject.name
                    var index_num = filename.lastIndexOf("."); //获取最后一个.的位置

                    //文件名过长处理
                    if (index_num !== -1 && filename.length > 32) { //判断是否含有”.“，没有返回-1，文件本身不含后缀

                        suffix = filename.substr(index_num + 1);
                        var firstname = filename.substring(0, 32 - suffix.length - 1)  //文件名长度最多32位处理
                        filename = firstname + "." + suffix
                    } else {
                        filename = filename;
                    }

                    var filesize = fileObject.size
                    var cos_key = (new Date()).getTime() + "_" + filename //当前时间戳_文件名作为key上传
                    var tr = $("#progressTemplate").find("tr").clone() //获取模板中的tr
                    tr.find(".name").text(filename) //找到类为name的div填入文件名称
                    $("#progressList").append(tr) //一条tr加到进度面板

                    //执行上传，异步提交
                    cos.putObject({
                        Bucket: "{{ request.tracer.project.bucket }}", /* 必须 */
                        Region: "{{ request.tracer.project.region }}", /* 存储桶所在地域，必须字段 */
                        Key: cos_key, /* 必须：文件name */
                        StorageClass: 'STANDARD',  /* 非必须：动态扩容 */
                        Body: fileObject, // 上传文件对象
                        onProgress: function (progressData) {
                            //console.log("文件上传进度-->", JSON.stringify(progressData)); //上传进度
                            var percent = progressData.percent * 100 + '%';
                            tr.find(".progress-bar").text(percent) //进度百分比
                            tr.find(".progress-bar").css("width", percent) //更改width样式
                        }
                    }, function (err, data) { //当前上传成功之后的回调函数（异步提交）
                        //console.log(err || data); //data信息包含ETag
                        if (data && data.statusCode === 200) { //返回数据statusCode为200表示上传成功
                            $.post(FILE_POST_URL, { //ajax发送post请求
                                    "local_name": filename,
                                    "cos_key": cos_key,
                                    "parent": FOLDER_ID,
                                    "file_size": filesize,
                                    "file_path": data.Location, //上传成功的文件地址（不含https://）
                                    "ETag": data.ETag, // cos返回的任务id
                                },
                                function (res) { //表单提交回调函数
                                    //console.log(res)
                                    if (res.status) {
                                        console.log(res)
                                        console.log("文件：[" + filename + "]上传成功！")
                                        var newTr = $("#rowTpl").find("tr").clone()
                                        //界面显示
                                        newTr.find(".local_name").text(res.show_data.local_name)
                                        newTr.find(".file_size").text(res.show_data.file_size)
                                        newTr.find(".update_user").text(res.show_data.update_user)
                                        newTr.find(".update_time").text(res.show_data.update_time)
                                        //按钮功能
                                        newTr.find(".download_btn").attr("href", res.show_data.download_path)
                                        newTr.find(".edit_btn").attr("fid", res.show_data.fid)
                                        newTr.find(".edit_btn").attr("pid", res.show_data.pid)
                                        newTr.find(".edit_btn").attr("local_name", res.show_data.local_name)
                                        newTr.find(".delete_btn").attr("fid", res.show_data.fid)
                                        newTr.find(".delete_btn").attr("pid", res.show_data.pid)
                                        $("#rowList").append(newTr)
                                    } else {
                                        tr.find(".progress-error").text(res.errors.local_name[errors.local_name.length - 1]) //ModelForm校验返回的错误
                                    }
                                });
                        } else {
                            tr.find(".progress-error").text("上传失败！")
                        }

                    });
                })

            })
        }

    </script>
{% endblock %}







